@keyframes entry-upward-animation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.entry-transition {
    animation: entry-upward-animation 0.5s cubic-bezier(0.267, 0.003, 0.111, 0.989);
}