.t-icon {
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    mask-image: var(--icon-url);
    background-color: currentColor;
    width: 1em;
    height: 1em;
    font-size: inherit;
    &.small {
        width: .8em;
        height: .8em;
    }
    &.large {
        width: 1.2em;
        height: 1.2em;
    }
    &.xlarge {
        width: 1.4em;
        height: 1.4em;
    }
}

.t-icon {
    &.i-arrow-refresh { --icon-url: url("/icons/arrow-refresh.svg") }
    &.i-caret-left { --icon-url: url("/icons/caret-left.svg") }
    &.i-caret-right { --icon-url: url("/icons/caret-right.svg") }
    &.i-pencil { --icon-url: url("/icons/pencil.svg") }
    &.i-search { --icon-url: url("/icons/search.svg") }
    &.i-xmark { --icon-url: url("/icons/xmark.svg") }
}
