:root {
    --vp-max-width: 1440px;
    --clr-bg-default: #F8F8F9;
    --clr-divider: #DADAE0;

    --clr-bg-navbar: #F1F1F5;

    --clr-bg-panel: #FFFFFF;
    --clr-brd-panel: #B5B5C4;
    
    --clr-brd-ibox: #C8C8D0;
    --clr-bg-ibox: #F5F5F8;

    --clr-txt-primary: #2E2E38;
    --clr-txt-secondary: #747483;
    --clr-txt-tertiary: #9292a0;
    --clr-txt-low-contrast: #b3b3c1;
    --clr-txt-label: #a4a4b4;
    --clr-txt-link: #0084f0;
    --clr-txt-accent: #1e4ec5;
    --clr-txt-danger: #f00038;

    --clr-in-focus: #0060f0;
    
    --clr-bg-button: transparent;
    --clr-fg-button: #888892;
    --clr-bg-button-hover: #00003716;
    --clr-bg-button-active: #00003732;
    --clr-fg-button-active: #6a6a79;

    --clr-fg-button-accent: #1a56b5;
    --clr-bg-button-accent-hover: #002fff21;
    --clr-bg-button-accent-active: #002fff32;
    --clr-fg-button-accent-active: #003fa5;

    --clr-fg-button-danger: #b9353e;
    --clr-bg-button-danger-hover: #ff003721;
    --clr-bg-button-danger-active: #ff003c32;
    --clr-fg-button-danger-active: #cf001c;

    --shd-panel-big: 0px 0px 72px #00001408;
    --shd-ibox: 0px 16px 14px -10px #00000906; 
    --shd-input: 0px 18px 12px -12px #00001610;
    --shd-input-focus: 0px 8px 6px -4px #00001610;

    --clr-loader: #003;
    --clr-loader-inverted: #F8F8FF;
}