.person-detail-page {
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: 840px;
    margin: auto;
    padding-top: 64px;
    padding-bottom: 64px;
    height: 100%;
    row-gap: 8px;
    box-sizing: border-box;

    .loader {
        align-self: center;
        justify-self: center;
        width: 64px;
    }

    .id-field {
        margin-left: 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
        column-gap: .5em;

        label {
            text-transform: uppercase;
            font-weight: 400;
            color: var(--clr-txt-tertiary);
        }

        div {
            color: var(--clr-txt-link);
            font-weight: 500;
        }
    }
    .detail-grid {
        display: flex;
        flex-direction: column;
        border-radius: 32px;
        padding: 64px;
        padding-bottom: 32px;
        row-gap: 42px;
        font-size: 22px;
        > .name-row {
            font-size: 36px;
            display: flex;
            flex-direction: row;
            column-gap: 42px;
            .value {font-weight: 500;}

        }
    }
    .action-buttons {
        width: fit-content;
        margin: auto;
        display: flex;
        flex-direction: row;
        column-gap: 16px;
        font-size: 16px;
        button {
            display: flex;
            flex-direction: row;
            column-gap: 4px;
        }
    }
}