.person-search-page {
    display: grid;
    grid-template-rows: auto auto 1fr;
    max-width: 920px;
    margin: auto;
    padding: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
    box-sizing: border-box;
    height: 100%;
    row-gap: 16px;
    overflow: hidden;

    .search-bar, .pagination {
        justify-self: end;
    }

    .result-wrapper {
        overflow-x: scroll;
    }

    .result-grid {
        margin: 24px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 24px;
        column-gap: 24px;
    }

    .loader {
        width: 64px;
        justify-self: center;
        align-self: center;
        color: var(--clr-txt-danger)
    }
}