.person-search-page {
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: 840px;
    margin: auto;
    padding: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
    box-sizing: border-box;
    height: 100%;
    row-gap: 20px;
    overflow: hidden;

    .search-bar {
        justify-self: end;
    }

    .paged-panel {
        height: 100%;
        .page-content {
            overflow: auto;
        }
        .result-grid {
            height: 100%;
            margin: 32px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 24px;
            column-gap: 24px;
        }
    }
}