.pagination {
    height: 32px;
    align-self: flex-end;
    margin-right: 12px;
    display: flex;
    flex-direction: row;
    color: var(--clr-txt-secondary);
    align-items: center;
    column-gap: 6px;

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}