.serie-cell {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 10px;
    height: fit-content;

    label {
        text-transform: uppercase;
        color: var(--clr-txt-label);
        font-weight: 500;
        font-size: 14px;
    }
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .row.id-note {
        .note {
            color: var(--clr-txt-tertiary);
            text-transform: uppercase;
            font-size: 14px;
        }
        .id {
            align-items: baseline;
            display: flex;
            flex-direction: row;
            column-gap: 4px;
            label {
                color: var(--clr-txt-label);
                font-weight: 500;
                font-size: 14px;
            }
            div {
                color: var(--clr-txt-link);
                font-weight: 500;
            }
        }
    }

    .row.title {
        font-size: 24px;
        font-weight: 500;
        color: var(--clr-txt-primary);
    }
    .row.genre-nb-episode {
        color: var(--clr-txt-secondary);
        text-transform: lowercase;
    }
}